/*Browser reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/* latin-ext */
@font-face {font-family: 'Sanchez'; font-style: normal; font-weight: 400; src: local('Sanchez'), local('Sanchez-Regular'), url(http://fonts.gstatic.com/s/sanchez/v4/npOcCrBPMuFRiujVSEMjC1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2'); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {font-family: 'Sanchez'; font-style: normal; font-weight: 400; src: local('Sanchez'), local('Sanchez-Regular'), url(http://fonts.gstatic.com/s/sanchez/v4/IrRX0SbY7r3Cla3CcqtilgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

body {
	background-color: #b8e4f6;
	font-family: 'Rockwell', 'Sanchez', serif;
}

a {
	text-decoration:none;
}

#hero {
	height:365px;
	max-width:851px;
	margin: 25px auto;
	background-image: url("../images/bubbles.png");
	background-repeat: no-repeat;
    background-position: center; 
}


#title {
	margin: 0 auto;
	height: 80px;
	width: 303px;
	padding: 20px 0 10px 0;
}

h1 {
	color: white;
	font-size: 4.5em;
	background-color: #be858a;
	text-align: center;
}

h2 {
	color: #be858a;
	font-size: 1.2em;
	max-width: 350px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.25em;
}

#search {
	height:115px;
	background-color: #be858a;
	text-align: center;
	margin: 25px 0;
}

#search .location {
/*  margin: 0 20px 5px 20px;*/
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

input {
	width: 360px;
	height: 50px;
	padding-left: 25px;
	border: 1px solid #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	font-family: 'Rockwell', 'Sanchez', serif;
    border-radius: 20px;
    margin: 32px 0 2px 0;
	color: #be858a;
	font-size: 1.4em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #be858a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #be858a;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #be858a;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #be858a;
}

input:focus {
    outline:none;
}

.tt-dropdown-menu {
	width: 335px;
	border: 1px solid #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	font-family: 'Rockwell', 'Sanchez', serif;
    border-radius: 20px;
	color: gray;
	font-size: 1.4em;
	background-color: white;
	text-align: left;
	padding: 0px 25px;
}

.tt-suggestions {
	padding: 5px 0;
	color: gray;
}

.tt-suggestion {
	padding: 2px 0;
}

.tt-cursor {
	background-color: whitesmoke;
}

.tt-highlight {
	color: #be858a;
}

.displaykey {
	background-color: blue;
}

.tt-hint {
	color: gray;
}

footer {
	height:125px;
}

#links {
	height: 100px;
}

footer {
	background-image: url("../images/timing-tracks.png");
	background-repeat: no-repeat;
    background-position: center;
    text-align:center;
}

li {
	display: inline-block;
	padding: 0 15px;
	color: #be858a;
}

/*mobile styling*/
@media (max-width: 600px) {
  #hero {
  	height: 220px;
	margin: 0px;
	background-size: 466px;
	background-position-y: -44;
  }

  input {
  	width: 300px;
	font-size: 1.1em;
  }

  h2 {
  	font-size: 1.1em;
  	padding-top: 45px;
  }

  li {
  	display: block;
	padding: 5px;
  }

  footer {
	height:200px;
  }
}
